.app-header {
    background-color: $clr1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    nav {
        > * {
            font-size: em(40px);
            color: $clr4;
            text-decoration: none;

            &.router-link-exact-active {
                text-decoration: underline;
              }
        }
    }
}
