.app-header {
    background-color: $clr1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    nav {
        > * {
            font-size: em(40px);
            color: $clr5;
            text-decoration: none;
        }
    }
}
