.list {
    display: flex;
    flex-direction: column;
    
    table {
        th,
        td {
            padding: 0 10px;
            border-collapse: collapse;
            border: 1px solid $clr3;
            text-align: left;
            border-spacing: 0px;
        }
        td {
            &.actions {
                width: em(150px);
                .el-dropdown {
                    vertical-align: unset;
                    width: 100%;
                    &:hover {
                        cursor: pointer;
                    }
                    .el-dropdown-link{
                        width: 100%;
                    }
                }
            }
        }
    }
}
