.toy-app{
    .add-btn{
        margin-bottom: 15px;
        @include btn(regular,  $clr2,$clr2, em(7.5px) em(10.5px));
        > * {
            color: $clr4;
            text-decoration: none;
        }
    }
}