* {
    box-sizing: border-box;
}


html {
    line-height: 2;
}

body {
    min-height: 100vh;
    margin: 0;
}

#app{
    min-height: 100vh;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0 0 .4em;
    line-height: 1.3;
}