/* Media queries Breakpoint mixins */

@mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $break-normal) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $break-wide) {
        @content;
    }
}

@mixin btn(
    $type: regular,
    $bg: $clr1,
    $clr: $clr3,
    $padding: em(24px) em(44px),
    $hover: darken($bg, 8%)
) {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    // text-transform: uppercase;
    padding: $padding;
    border-radius: 6px;
    line-height: 1.25;
    font-size: em(14px);
    font-variation-settings: 'wght' 430;
    border: none;
    cursor: pointer;

    transition: background-color 0.2s;

    @if $type == regular {
        background-color: $bg;
        color: $clr;
        &:hover {
            background-color: $hover;
        }
    } @else if $type == dark {
        background-color: $clr2;
        color: $clr3;
        &:hover {
            background-color: $clr1;
            color: $clr3;
        }
    } @else if $type == light {
        background-color: $clr3;
        color: $clr2;
        &:hover {
            background-color: $clr1;
            color: $clr3;
        }
    }
}
