
// COLOR PALETTE

$clr1: #1A374D;
$clr3: #406882;
$clr2: #6998AB;
$clr4: #f0decb;
$clr5: #fff;
$darken: #1918186b;
$black:#111;

// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;


